<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 translate="activate.title">Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span translate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" translate="global.messages.info.authenticated.link">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error"><span translate="activate.messages.error">Your user could not be activated. Please use the registration form to sign up.</span></div>
            
        </div>
    </div>
</div>
