<div style="text-align:center">
  <div>
  </div>
  <h4>
    Welcome to {{ pageTitle }}!
  </h4>
  <p>
    Home is - <i>unrestricted, accessible for guests</i>
    <br>
    Dashboard is - <i>restricted, accessible for logged-in users</i>
  </p>

</div>